.About {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65vh;
    background-color: #019AFF;
    background: linear-gradient(to bottom, #0167ff, #019AFF);
    /* overflow: scroll; */
}
.About-box {
    width: fit-content;
    height: 40px; 
    color: #019AFF;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}
.About-text {
    padding: 10px;
    font-size: 30px;
    color: #ffffff;
    font-family: Calibri ;
}
.About-dashboard {  
  width: 60vw;
  height: 70%;
  border-radius: 5px;
}

button {
  background: none;
  border: none;
}
.About-dashboard-text-box {
    display: flex;
    width: 97%;
    height: 60%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto ;
    cursor: pointer;
}
.About-dashboard-text {
    width: 100%;
    display: flex;
    border-radius: 3px;
    color: #ffffff;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    height: 15vh;
    margin-top: 100px;
}
.About-dashboard-text-descubre {
    width: 100%;
    display: flex;
    border-radius: 3px;
    align-items: center;
    color: #ffffff;
    font-size: 45px;
    justify-content: center;
    margin-top: 100px;
    height: 15vh;
}
.About-back {
    display: flex;
    justify-content: flex-start;
    width: 54%;
    margin-bottom: 50px;
}

/* #################### MEDIA #################### */

@media (max-width:1120px) {
    .About-back {
        display: flex;
        justify-content: flex-start;
        width: 54%;
        margin-bottom: 0;
    }
    .About-text {
        padding: 10px;
        font-size: 20px;
        color: #ffffff;
        font-family: Calibri;
    }

}

@media (max-width:850px) {
    .About-back {
        display: flex;
        justify-content: flex-start;
        width: 54%;
        margin-bottom: 0;

    }
    .About-text {
        padding: 10px;
        font-size: 20px;
        color: #ffffff;
        font-family: Calibri;
    }
}

@media (max-width:660px) {
    .About-back {
        display: flex;
        justify-content: flex-start;
        width: 54%;
        margin-bottom: 0;

    }
    .About-text {
        padding: 10px;
        font-size: 15px;
        color: #ffffff;
        font-family: Calibri;
    }
    .About-dashboard-text-box {
        display: flex;
        width: 97%;
        height: 60%;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        cursor: pointer;
    }
    .About-dashboard-text-descubre {
        width: 100%;
        display: flex;
        border-radius: 3px;
        align-items: center;
        color: #ffffff;
        font-size: 25px;
        justify-content: center;
        margin-top: 0px;
        height: 15vh;
    }
    .About-dashboard-text {
        width: 100%;
        display: flex;
        border-radius: 3px;
        color: #ffffff;
        font-size: 20px;
        justify-content: center;
        align-items: center;
        height: 15vh;
        margin-top: 0px;
    }
    .buestore-links {
        text-decoration: none;
        color: white;
        font-size: 45px;
    }
}