.BueStore {
    display: flex;
    flex-direction: column;
    height: 65vh;
    width: 100%;
    background-color: #019AFF;
    background: linear-gradient(to bottom, #0167ff, #019AFF);
    overflow: hidden;
    cursor: default;
    
}

.buestore-content {
    display: flex;
    height: 65vh;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}



.buestore-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%; 
    height: 100%;
    margin-bottom: 40px;
}

    .buestore-links {
        text-decoration: none;
        color: white;
        font-size: 60px;
    }

    .buestore-links:hover {
        color: #ffc401;
        scale: 1.3;
        transition: .5s ease-out;
    }

    .buestore-title {
        font-size: 50px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: white;
    }

    .buestore-description {
        width: 80%;
        margin-top: 15px;
        margin-bottom: 30px;
        color: white;
        font-size: 15px;
    }

    .buestore-btn {
        cursor: pointer;
        color: white;
        background-color: #ffc401;
        text-shadow: 0 1px 1px rgba(0,0,0,0.5);
        border: none;
        font-size: 18px;
        border-radius: 5px;
        height: 55px;
        width: 160px;
    }

    .buestore-btn:hover {
        scale: 1.2;
        transition: .3s ease-out;
    }



.buestore-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    gap: 1rem;
}

    .buestore-box {
        display: flex;
        flex-direction: row;
        background-color: white;
        justify-content: center;
        border-radius: 10px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
        padding: 11px;
        height: 100px;
        width: 400px;
        gap: 10px;
    }

    .buestore-imgs {
        width: 80px;
        height: 80px;
    }

    .buestore-box-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .buestore-box-title {
        font-size: 22px;
    }

    .buestore-box-label {
        text-align: left;
        color: darkgray;
    }



.buestore-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

    .buestore-bg-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
        margin-top: 15px;
    }

    .buestore-bg-img {
        width: 60px;
        height: 60px;
    }

    .buestore-end-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .buestore-end-description {
        display: flex;
        flex-direction: column;
        width: 80%;
        color: white;
    }



/* #################### MEDIA #################### */

@media (max-width:1120px) {
    .buestore-content {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        height: 100%;
        width: 100%;
        gap: 5rem;
        justify-content: flex-start;
    }

    .buestore-description {
        height: 100%;
        margin-top: 15px;
        margin-bottom: 0px;
    }

    .buestore-btn {
        height: 150px;
    }

    .buestore-text {
        width: 80%;
        height: 100%;
        margin-bottom: 0px;
    }

    .buestore-box {
        width: 300px;
        align-items: center;
    }

    .buestore-imgs {
        height: 50px;
        width: 50px;
    }

    .buestore-box-title {
        font-size: 19px;
    }

    .buestore-box-label {
        text-align: left;
        color: darkgray;
    }

    .buestore-end {
        padding-bottom: 50px;
        width: 80%;
    }

    .buestore-end-description {
        margin-top: 20px;
        width: 100%;
    }
}

/* .buestore-content {
    display: flex;
    height: 65vh;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
} */