.Home {
    height: 75vh;
}

.home-container {
    display: flex;
    flex: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    
    
}

.home-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    height: 70%;
    width: 20%;
    overflow: hidden;
    transform:scale(1);
}
.home-cardsline{
    width:4%;
    height: 100%;
    background:#8ac74c;
    border-right: solid;
    border-width: 4px;
    border-color: rgba(0, 0, 0, 0.805);
}

.home-cardslabel{
    width: 95%;
    filter: opacity(0.9);
}
.home-cards:hover {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.9);
}