.Home {
    height: 65vh;
}

.home-container {
    display: flex;
    flex: row;
    justify-content: space-around;
    /* align-items: center; */
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.home-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    /* border-radius: 10px; */
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    height: 85%;
    width: 20%;
    overflow: hidden;
    transform:scale(1);
    font-size: x-large;
    color: #019AFF;
}

.home-cards:hover {
    background-color: #019AFF;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.9);
    color: white;
}

.home-cardslabel{
    width: 95%;
    filter: opacity(0.9); 
}