.Nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25vh;
    border: 0px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.Nav-logo{
    /* background-color: #FFDF1F; */
    border-radius: 10px;
}