.Nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25vh;
    border: 0px;
}

.nav-container-motion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-container-logo {
    width: 100%;
}

.nav-logo{
    border-radius: 10px;
}

.nav-lang {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 163px;
    right: 10px;
    top: 0;
    overflow: hidden;
    padding: 2px;
}

.nav-lang-icon {
    height: 42px;
    width: 42px;
}

.nav-lang-icon:hover {
    scale: 1.1;
}

.nav-lang-container {
    display: flex;
    align-items: center;
    height: 42px;
    display: flex;
    list-style: none;
    gap: 0.5rem;
}

.nav-lang-container-list {
    background-color: #ffc401;
    /* color: white; */
    border-radius: 5px;
    padding: 4px;
    font-size: small;
}

.nav-lang-container-list:hover {
    scale: 1.08;
}