.Webs {
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Webs-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.Webs-options-container {
    width: 80%;
    height: 27%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    font-size: x-large;
    color: #ffc401;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.Webs-options-container:hover {
    scale: 1.01;
    transition: .3s;
    font-size: xx-large;
}

.Webs-options-two-container {
    width: 80%;
    height: 27%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    font-size: x-large;
    color: #ffc401;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.Webs-options-two-container:hover {
    scale: 1.01;
    transition: .3s;
    font-size: xx-large;
}

.Webs-options {
    width: 80%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    overflow: hidden;
    font-size: 20px;
    color: #019AFF;
}

.Webs-options-two {
    width: 80%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    overflow: hidden;
    font-size: 20px;
    color: #019AFF;
}

.webs-img {
    height: 100%;
    filter: blur(3px);
}

.Webs-icon {

    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
    color: rgb(255, 255, 255);
    overflow: hidden;
    scale: 0.9;
    color: #ffc401;
    ;
}

.Back {
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    height: 50px;
    width: 50px;
    background-color: #019AFF;
    border-style: double;
}

.Back:hover {
    scale: 1.1
}

.Webs-click {
    position: absolute;
    width: 100%;
    height: 65vh;
    background-color: #019AFF;
    opacity: 100%;
    display: flex;
    justify-content: space-around;
}

.Webs-info {
    padding: 30px;
    height: 100%;
    width: 50%;
    margin-top:30px;
}

* {
    box-sizing: border-box;
    outline: none;
}

.wrapper {
    width: 100%;
    background: #fff;
    padding: 15px;
}

.wrapper h2 {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #019AFF;
}

.wrapper .input_field {
    margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea {
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: 10px;
}

.wrapper textarea {
    resize: none;
    height: 80px;
}

.wrapper .btn input[type="submit"] {
    background-color: white;
    border: 0px;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    width: 100%;
    background-color: #ffc401;
    color:white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    cursor: pointer;
}
.wrapper .btn input[type="submit"]:hover {
    scale: 1.02;
    transition: 0.3s; 
}

#error_message {
    margin-bottom: 20px;
    background: #fe8b8e;
    padding: 0px;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
}