.Webs {
  height: 65vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #0167ff, #019AFF);
  align-items: center;
  cursor: default;
}
.Webs a {
  text-decoration: none;
  color: white;
  font-size: 60px;
  scale: 1;
  display: flex;
  cursor: pointer;
}
.Webs a:hover {
  color: #ffc401;
  scale: 1.02;
  transition: 0.5s ease-out;
}
.Webs span {
  width: 70%;
  background-color: green;
}

.webs-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
}
.webs-container div {
  justify-content: space-around;
  width: 80%;
  height: 24%;
  display: flex;
  align-items: center;
  color: #ffc401;
  background-color: white;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px;
}
.webs-container div:hover {
  scale: 1.01;
  transition: 0.3s;
}
.webs-container p {
  padding: 3px;
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  overflow: hidden;
  font-size: 15px;
  color: #019AFF;
}
.webs-container h1 {
  font-family: "Impact";
  font-size: 25px;
  font-weight: normal;
}

.webs-click {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 65vh;
  overflow-y: scroll;
  background: linear-gradient(to bottom, #0167ff, #019AFF);
  padding: 20px;
}

.webs-click-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.web-text {
  width: 40%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.web-text h1 {
  color: #ffc401;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: normal;
  margin-bottom: 0px;
}
.web-text ul li {
  list-style: none;
  color: white;
}
.web-text h3 {
  color: #ffc401;
}

.webs-contact {
  width: 40%;
  height: 310px;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
}

@media (max-width: 820px) {
  .webs-options-back-container {
    width: 0;
    height: 0;
    opacity: 0;
  }
  .webs-container {
    width: 90%;
  }
  .Webs-options {
    width: 70%;
    height: 100%;
    opacity: 1;
  }
  .Webs-options-two {
    width: 70%;
    height: 100%;
    opacity: 1;
  }
}
@media (max-width: 520px) {
  .webs-container {
    width: 90%;
  }
  .Webs-options-container {
    justify-content: center;
  }
  .Webs-options-two-container {
    justify-content: center;
  }
  .Webs-options {
    width: 0%;
    height: 0%;
    opacity: 0;
  }
  .Webs-options-two {
    width: 0%;
    height: 0%;
    opacity: 0;
  }
}
.webs-img {
  height: 100%;
  filter: blur(3px);
}

.Webs-icon {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60%;
  color: rgb(255, 255, 255);
  overflow: hidden;
  scale: 0.9;
  color: #ffc401;
}

.webs-options-back-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  height: 15%;
}

.webs-back-option {
  text-decoration: none;
  color: white;
  font-size: 60px;
}

.webs-back-option:hover {
  color: #ffc401;
  scale: 1.5;
  transition: 0.5s ease-out;
}

.Webs-info {
  width: 40%;
  display: flex;
  height: 100%;
  color: white;
  align-items: center;
}

.Webs-info-cont {
  display: flex;
  width: 100%;
  height: 65vh;
  justify-content: space-around;
}

* {
  box-sizing: border-box;
  outline: none;
}

.webs-contact h2 {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #019AFF;
}

.webs-contact .input_field {
  margin-bottom: 10px;
}

.webs-contact .input_field input[type=text],
.webs-contact textarea {
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 10px;
}

.webs-contact textarea {
  resize: none;
  height: 80px;
}

.webs-contact .btn input[type=submit] {
  background-color: white;
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background-color: #ffc401;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  cursor: pointer;
}

.webs-contact .btn input[type=submit]:hover {
  scale: 1.02;
  transition: 0.3s;
}

#error_message {
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

@media (max-width: 1200px) {
  .Webs-info-cont {
    align-items: center;
    flex-direction: column;
  }
  .Webs-info {
    width: 100%;
    scale: 0.8;
  }
}/*# sourceMappingURL=Webs.css.map */