@import "./vars/vars.scss";

.Webs {
    height: 65vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #0167ff, #019AFF);
    background-color: black;
    align-items: center;
    cursor: default;

    button {
        @include bueBack();
    }

    span {
        width: 70%;
        background-color: green;
    }
}

.webs-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    justify-content: center;
    gap: 8px;
    align-items: center;

    div {
        justify-content: space-around;
        width: 80%;
        height: 24%;
        display: flex;
        align-items: center;
        color: $bueYellow;
        background-color: white;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        padding: 10px;
    }

    div:hover {
        scale: 1.01;
        transition: .3s;
    }

    p {
        padding: 3px;
        width: 70%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        overflow: hidden;
        font-size: 14px;
        color: $bueBlue;
    }

    h1 {
        font-family: "Impact";
        font-size: 25px;
        font-weight: normal;
    }
}

.webs-absolute {
    position: absolute;
    height: 65vh;
    width: 100%;
}

.webs-plan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background: $bueBackground;
    padding: 20px;

    .webs-plan-cont {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 100%;
    }
}

.webs-plan-text{
    width: 40%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;

    h1 {
        color: $bueYellow;
        font-size: 40px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: normal;
        margin-bottom: 0px;
    }

    ul {
        padding-left: 0;
        list-style: none;
        list-style-position: inside;
        color: white;
    }

    h3 {
        color: $bueYellow;
    }

}

.webs-contact {
    width: 40%;
    height: 310px;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    overflow: hidden;

    h1 {
        text-align: center;
        margin: 0;
        margin-bottom: 20px;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 22px;
        color: $bueBlue;
    }

    input {
        border: 1px solid #e0e0e0;
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
    }

    textarea {
        border: 1px solid #e0e0e0;
        width: 100%;
        resize: none;
        height: 80px;
        overflow-y: scroll;
        padding: 10px;
        margin-bottom: 10px;
    }

    button {
        @include bueButton();
        height: 30px;
    }

    #error {
        color: red;
        margin: 0;
    }
}

* {
    box-sizing: border-box;
    outline: none;
}

@media (max-width:960px) {

    .webs-container {
        width: 100%;
    }

}

@media (max-width:640px) {

    .webs-container {
        button {
            font-size: 30px;
        }

        div {
            height: 28%;
        }
        p {
            font-size: 10px;
            width: 90%;
        }

        h1 {
            margin: 0;
        }
    }
}